html{
    height: 100%;
}
.design{
    background-image: url('hg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

form{
   
    text-align: center;
    
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 30px 40px 30px 40px;
    border: 2px solid white;
    
  
}

h1 h2 {
    color: #34495e;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  
}

label {
    font-size: 18px;
    color: #00f83e;
}

.error{
    color:red;
}

.no-error{
    color: rgb(208, 255, 0);
}

